.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }

  mat-card{
    padding: 30px;
 }

 mat-card-title {
    padding: 10px;
 }
  